.title {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(218, 55, 55);
    background-color: burlywood;
}
.date {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(218, 55, 55);
    background-color: burlywood;
}
.entry {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(218, 55, 55);
    background-color: burlywood;
}

